/* SINGULARITY -- http://singularity.gs/ */
/* line 12, ../../../../../../../../../../var/lib/gems/1.9.1/gems/singularitygs-0.0.17/stylesheets/singularitygs/mixins/_base-font-size.scss */
html {
  font-size: 1em;
}

/* line 17, ../../sass/sass/partials/_layout.scss */
#headerbar {
  height: 37px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* line 25, ../../sass/sass/partials/_layout.scss */
#header {
  width: 960px;
  margin: 0 auto;
  position: relative;
  height: 60px;
}

/* line 31, ../../sass/sass/partials/_layout.scss */
#logo {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
}

/* line 38, ../../sass/sass/partials/_layout.scss */
#growl {
  z-index: 10;
  position: absolute;
  left: 74px;
  padding: 0.5em;
  top: 41px;
  margin: 0;
  border: 0;
}
/* line 46, ../../sass/sass/partials/_layout.scss */
#growl:after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: 8px;
  bottom: auto;
  left: -12px;
  border-width: 0 12px 12px 0;
}

/* line 60, ../../sass/sass/partials/_layout.scss */
#page-outer {
  position: relative;
  padding-top: 37px;
}

/* line 64, ../../sass/sass/partials/_layout.scss */
#page {
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("../behaviors/box-sizing/boxsizing.php");
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  width: 960px;
  padding: 2.15em 1em 1em;
  margin: 0 auto;
  min-height: 500px;
}
/* line 48, ../../../../../../../../../../var/lib/gems/1.9.1/gems/singularitygs-0.0.17/stylesheets/singularitygs/mixins/_container.scss */
#page:before, #page:after {
  content: "";
  display: table;
}
/* line 53, ../../../../../../../../../../var/lib/gems/1.9.1/gems/singularitygs-0.0.17/stylesheets/singularitygs/mixins/_container.scss */
#page:after {
  clear: both;
}

/* line 72, ../../sass/sass/partials/_layout.scss */
.aff-section,
.neg-section {
  height: 100%;
}

/* line 75, ../../sass/sass/partials/_layout.scss */
.aff-section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("../behaviors/box-sizing/boxsizing.php");
  overflow: hidden;
  *zoom: 1;
  width: 49.15254%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 0;
  margin-left: 0%;
}

/* line 78, ../../sass/sass/partials/_layout.scss */
.neg-section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("../behaviors/box-sizing/boxsizing.php");
  overflow: hidden;
  *zoom: 1;
  width: 49.15254%;
  float: right;
  margin-right: 0;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 50.84746%;
}

/* line 81, ../../sass/sass/partials/_layout.scss */
.section-new {
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("../behaviors/box-sizing/boxsizing.php");
  overflow: hidden;
  *zoom: 1;
  width: 66.10169%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 25.42373%;
}

/* line 4, ../../sass/sass/partials/_contention.scss */
.contention {
  padding: 0 0 1em;
  margin: 0 0 1em 0;
  border-bottom: 2px solid rgba(30, 30, 30, 0.2);
}
/* line 8, ../../sass/sass/partials/_contention.scss */
.contention:last-of-type {
  border-bottom: 0;
}
/* line 11, ../../sass/sass/partials/_contention.scss */
.contention .contention-created {
  color: rgba(0, 0, 0, 0.35);
  clear: both;
}
/* line 15, ../../sass/sass/partials/_contention.scss */
.contention .points .point {
  margin: 1em 0 2em;
}
/* line 17, ../../sass/sass/partials/_contention.scss */
.contention .points .point:last-of-type {
  margin-bottom: 0.5em;
}
/* line 21, ../../sass/sass/partials/_contention.scss */
.contention .new-point a.button {
  width: 7.5em;
}

/* line 25, ../../sass/sass/partials/_contention.scss */
h2.contention-name {
  font-size: 1.25em;
  display: inline;
}

/* line 30, ../../sass/sass/partials/_contention.scss */
.contention-heading {
  display: inline;
  position: relative;
}
/* line 33, ../../sass/sass/partials/_contention.scss */
.contention-heading .new-point {
  position: absolute;
  top: 0;
}

/* line 40, ../../sass/sass/partials/_contention.scss */
.aff-section .contention-heading .new-point {
  right: -7.5em;
}
/* line 42, ../../sass/sass/partials/_contention.scss */
.aff-section .contention-heading .new-point a.button {
  background-color: rgba(63, 195, 56, 0.75);
}
/* line 44, ../../sass/sass/partials/_contention.scss */
.aff-section .contention-heading .new-point a.button:hover {
  background-color: #3fc338;
}
/* line 50, ../../sass/sass/partials/_contention.scss */
.aff-section .points .point {
  padding: 0 2em 0 1em;
  border-left: rgba(63, 195, 56, 0.75) solid 2px;
}

/* line 57, ../../sass/sass/partials/_contention.scss */
.neg-section .contention-heading .new-point {
  left: -7.5em;
}
/* line 59, ../../sass/sass/partials/_contention.scss */
.neg-section .contention-heading .new-point a.button {
  background-color: rgba(239, 68, 73, 0.75);
}
/* line 61, ../../sass/sass/partials/_contention.scss */
.neg-section .contention-heading .new-point a.button:hover {
  background-color: #ef4449;
}
/* line 67, ../../sass/sass/partials/_contention.scss */
.neg-section .points .point {
  padding: 0 1em 0 2em;
  border-right: rgba(239, 68, 73, 0.75) solid 2px;
}

/* line 3, ../../sass/sass/partials/_debate.scss */
.debate-section .section-content {
  background: transparent url("/bundles/mddebate/images/bg.jpg") no-repeat top center;
  background-size: 100% 100%;
}

/* line 8, ../../sass/sass/partials/_debate.scss */
.debate-title-wrapper {
  font-size: 2em;
}

/* line 11, ../../sass/sass/partials/_debate.scss */
h1.debate-title {
  display: inline;
}
/* line 13, ../../sass/sass/partials/_debate.scss */
h1.debate-title, h1.debate-title input {
  height: 40px;
  line-height: 40px;
}

/* line 18, ../../sass/sass/partials/_debate.scss */
.debate-description {
  margin: 0.5em 0 1em;
}

/* line 24, ../../sass/sass/partials/_debate.scss */
h1.debate-title input,
h1.debate-title textarea,
.debate-description input,
.debate-description textarea {
  font-size: inherit;
  font: inherit;
  margin: -5px;
  padding: 5px;
  width: 100%;
  border: 0;
  background-color: rgba(241, 160, 69, 0.2);
}

/* line 36, ../../sass/sass/partials/_debate.scss */
h3.section-title {
  font-size: 1.2em;
  padding: 0.25em 0 0.25em 0.8em;
  background-color: #05a2a2;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  color: #FFFFFF;
  text-align: center;
  font-family: "Lucida Sans Unicode";
}

/* line 47, ../../sass/sass/partials/_debate.scss */
.aff-section,
.neg-section {
  padding: 1em;
  position: relative;
}
/* line 50, ../../sass/sass/partials/_debate.scss */
.aff-section a.create,
.neg-section a.create {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2em;
  display: none;
  color: #666;
  text-decoration: none;
  text-align: center;
  padding-top: 1em;
}
/* line 61, ../../sass/sass/partials/_debate.scss */
.aff-section:hover a.create,
.neg-section:hover a.create {
  display: block;
}

/* line 65, ../../sass/sass/partials/_debate.scss */
.aff-section {
  text-align: left;
}
/* line 67, ../../sass/sass/partials/_debate.scss */
.aff-section a.create {
  right: 0;
}
/* line 69, ../../sass/sass/partials/_debate.scss */
.aff-section a.create:hover {
  color: #333333;
}

/* line 74, ../../sass/sass/partials/_debate.scss */
.neg-section {
  text-align: right;
}
/* line 76, ../../sass/sass/partials/_debate.scss */
.neg-section a.create {
  left: 0;
}
/* line 78, ../../sass/sass/partials/_debate.scss */
.neg-section a.create:hover {
  color: #333333;
}

/* line 8, ../../sass/sass/global.scss */
body {
  background: white url("/bundles/mddebate/images/bg-stripe.png") repeat top left;
}

/* line 11, ../../sass/sass/global.scss */
#page-outer {
  background: transparent url("/bundles/mddebate/images/bg-top.png") repeat-x top left;
}

/* line 14, ../../sass/sass/global.scss */
#headerbar {
  background: transparent url("/bundles/mddebate/images/bg-header.png") repeat-x top left;
  height: 43px;
}

/* line 26, ../../sass/sass/global.scss */
#growl {
  opacity: 0.0;
  color: #333;
  background: #ffdc9e;
  font-size: 0.85em;
}
/* line 31, ../../sass/sass/global.scss */
#growl:after {
  border-color: transparent #ffdc9e transparent transparent;
}

/* line 35, ../../sass/sass/global.scss */
#growl.ui-show {
  opacity: 1.0;
}

/* line 38, ../../sass/sass/global.scss */
#growl.ui-hide {
  opacity: 0.0;
  transition: all 0.5 ease;
  -moz-transition: all 0.5s ease;
  /* Firefox 4 */
  -webkit-transition: all 0.5s ease;
  /* Safari and Chrome */
  -o-transition: all 0.5s ease;
  /* Opera */
}

/* line 46, ../../sass/sass/global.scss */
#page {
  background-color: #FFFFFF;
  -webkit-box-shadow: rgba(100, 100, 100, 0.5) 0 0 6px 4px;
  -moz-box-shadow: rgba(100, 100, 100, 0.5) 0 0 6px 4px;
  box-shadow: rgba(100, 100, 100, 0.5) 0 0 6px 4px;
  box-shadow-bottom: 0;
}

/* line 52, ../../sass/sass/global.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 57, ../../sass/sass/global.scss */
.clearfix:after {
  clear: both;
}

/* line 61, ../../sass/sass/global.scss */
.button {
  font-size: 11px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFCCCCCC', endColorstr='#FF999999');
  background-color: #cccccc;
  border: 0;
  color: white;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 2px 6px;
}
/* line 15, ../../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:hover {
  text-decoration: none;
}
/* line 42, ../../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:hover {
  background-color: #bfbfbf;
}
/* line 44, ../../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:active {
  background-color: #b8b8b8;
}
/* line 6, ../../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button.disabled, .button[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 68, ../../sass/sass/global.scss */
.button:hover {
  background-color: #AAAAAA;
}
