<div class="contention" id="contention-{{ contention.id }}">

    <div class="contention-heading">
        <h2 class="contention-name">{{ contention.name }}</h2>
        <div class="new-point"><a class="button" href="{{ path('md_debate_point_new', {'did': debate.id, 'cid': contention.id}) }}" title="Expand on this Point">+ Add a Point</a></div>
    </div>
    {# I'm hiding the creation date. I don't know if it's relevant. #}
    {# <div class="contention-created">({{ contention.created|date("m/d/Y") }})</div> #}

    {% if contention.points|length > 0 %}
        <div class="points">
            {% render url('md_debate_point_list', { 'cid': contention.id }) %}
        </div>
    {% endif %}

</div>