<div class="contention" id="contention-{{ contention.id }}">
    <span class="contention-name">{{ contention.name }}</span>
    <span class="contention-created">({{ contention.created|date("m/d/Y") }})</span>
</div>