<form ng-submit="formPointSubmit()">
    {{ form_widget(form.body, { 'attr': {'ng-model': 'edit.body'} }) }}
    {{ form_widget(form.source, { 'attr': {'ng-model': 'edit.source'} }) }}

    <input type="button" ng-click="toggleEditForm()" value="Cancel" />
    <input type="submit" value="Save" />
</form>
