<div class="debate-section section-{% block sectionId %}none{% endblock %} clearfix">
    <h3 class="section-title">{% block sectionTitle %}{% endblock %}</h3>
    <div class="section-content clearfix">
        {% block sectionContent %}{% endblock %}
    </div>
    <div class="section-new">
        {% block sectionCreate %}{% endblock %}
    </div>
</div>