#page {
    width: 960px;
    margin: 0 auto;
}
.aff-section {
    width: 469px;
    float: left;
    padding: 10px;
    background-color: #e0ffff;
    border-right: 1px solid #CCC;
}
.neg-section {
    width: 469px;
    float: left;
    padding: 10px;
    background-color: #ffb6c1;
    border-left: 1px solid #CCC:
}
h3.section-title {
    background-color: mintcream;
    font-size: 2em;
    padding: 1em 0;
}