@import 'partials/layout';
@import 'partials/contention';
@import 'partials/debate';

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}