@import "compass/css3/images";

.debate-section .section-content {
  background: transparent url('/bundles/mddebate/images/bg.jpg') no-repeat top center;
  background-size: 100% 100%;
}

.debate-title-wrapper {
  font-size: 2em;
}
h1.debate-title {
  display: inline;
  &, input {
    height: 40px;
    line-height: 40px;
  }
}
.debate-description {
  margin: 0.5em 0 1em;
}
h1.debate-title,
.debate-description {
  input,
  textarea {
    font-size: inherit;
    font: inherit;
    margin: -5px;
    padding: 5px;
    width: 100%;
    border: 0;
    background-color: $color2-bg;
  }
}


h3.section-title {
  font-size: 1.2em;
  padding: 0.25em 0 0.25em 0.8em;
  background-color: rgb(5, 162, 162);
  @include border-radius(6px 6px 0 0);
  color: #FFFFFF;
  text-align: center;
  font-family: "Lucida Sans Unicode";
}

.aff-section,
.neg-section {
  padding: 1em;
  position: relative;
  a.create {
    position: absolute;
    top: 0;
    height: 100%;
    width: 2em;
    display: none;
    color: #666;
    text-decoration: none;
    text-align: center;
    padding-top: 1em;
  }
  &:hover a.create {
    display: block;
  }
}
.aff-section {
  text-align: left;
  a.create {
    right: 0;
    &:hover {
      color: #333333;
    }
  }
}
.neg-section {
  text-align: right;
  a.create {
    left: 0;
    &:hover {
      color: #333333;
    }
  }
}
