@import "singularitygs";

$fullpageWidth: 960px;
$headerHeight: 37px;

$base-font-size: 1em;
@include base-font-sizing;
$columns: 12;
$gutter: .25;
$padding: 1em;
$container: 100%;

$logoHeight: 60px;

$speechBubblePointWidth: 12px;

#headerbar {
  height: $headerHeight;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}
#header {
  width: $fullpageWidth;
  margin: 0 auto;
  position: relative;
  height: $logoHeight;
}
#logo {
  position: absolute;
  left: 0;
  top: 0;
  height: $logoHeight;
}

#growl {
  z-index: 10;
  position: absolute;
  left: ($speechBubblePointWidth + 62px);
  padding: 0.5em;
  top: 41px;
  margin: 0;
  border: 0;
  &:after {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    top: 8px;
    bottom: auto;
    left: -($speechBubblePointWidth);
    border-width: 0 $speechBubblePointWidth 12px 0;
  }
}


#page-outer {
  position: relative;
  padding-top: $headerHeight;
}
#page {
  @include container;
  width: $fullpageWidth;
  padding: 2.15em 1em 1em;
  margin: 0 auto;
  min-height: 500px;
}
.aff-section,
.neg-section {
  height: 100%;
}
.aff-section {
  @include grid-span(6, 1);
}
.neg-section {
  @include grid-span(6, 7);
}
.section-new {
  display: none;
  @include grid-span(8, 4);
}