$color1: #307998;

$color2: rgba(241, 160, 69, 1);
$color2-1: #e89436;
$color2-bg: rgba(241, 160, 69, 0.2);
$color2-highlight: rgba(255, 220, 158, 1);

$green: #3FC338;
$red: #EF4449;

$affHighlight: rgba(63, 195, 56, 0.75);
$negHighlight: rgba(239, 68, 73, 0.75);

